* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(6, 21, 44);
  color: white;
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.notes-app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 8px;
}

.notes-header_title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.notes-header_search {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: #e4e4e4;
  outline: none;
  width: 200px;
}
.notes-header_search:focus {
  box-shadow: 0 0 0 2px #e4e4e4;
}

.notes-app {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.notes-app h2 {
  font-weight: normal;
  margin: 16px 0;
}

.notes-input {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 48px;
}

.notes-input input,
.notes-input textarea {
  display: block;
  width: 100%;
}

.notes-input__title {
  font-weight: bold;
}

.notes-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.notes-input__body {
  min-height: 175px;
}

.notes-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color:#e4e4e4;
  font-family: 'Inter', sans-serif;
  color: #0f1d47;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-input button:hover {
  color: green;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.notes-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 12px;
  flex: 1;
}

.notes-item_content {
  padding: 12px;
  flex: 1;
}

.notes-item_title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.notes-item_date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.notes-item_body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.notes-item_delete,
.note-item__archive-button {
  display: block;
  width: 100%;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

.notes-item_delete {
  background-color: #e4e4e4
  color: #0f1d47;
  backdrop-filter: blur(10px);
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.notes-item_delete:hover {
  color: #b00020;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
